@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-light-gold: #d6b56c;
	--color-off-white: #e7dac5;
	--color-dark-brown: #3a2f28;
}

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}
/* Custom scroll bar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 4px;
}

/* For firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #888 #f1f1f1;
}
